@model IEnumerable<BookModel>
@{
    ViewData["Title"] = "Book Inventory";
}

<div id="bookinventory" class="container-fluid">
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center">
                                <h3>Library</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 d-flex justify-content-center">
                                <img src="~/lib/resources/imgs/library.png" width="150" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                @{
                                    if (Model != null)
                                    {
                                        foreach (var Data in Model)
                                        {
                                            <div class="container-fluid">
                                                <div class="row border">
                                                    <div class="col-1">
                                                        @Data.id
                                                    </div>
                                                    <div class="col-10 col-md-8 col-lg-8 col-xl-8">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                @Data.book_name
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                ISBN-13 - @Data.isbn
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                Author - @Data.author_name
                                                                &nbsp;| Genre - @Data.genre
                                                                &nbsp;| Language - @Data.language
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                Publisher - @Data.publisher_name
                                                                &nbsp;| Publish Date - @Data.publish_date
                                                                &nbsp;| Pages - @Data.no_of_pages
                                                                &nbsp;| Edition - @Data.edition
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                Cost - @Data.book_cost
                                                                &nbsp;| Actual Stock - @Data.actual_stock
                                                                &nbsp;| Issued - @Data.issued_books
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                Description - @Data.book_description
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-2 col-lg-2 col-xl-2">
                                                        <img class="img img-fluid p-1" src="@Url.Content(Data.book_img)" />
                                                    </div>
                                                    <div class="col-1">
                                                        <a asp-action="BookInventory_Edit" asp-route-id="@Data.id">Edit</a> |
                                                        <a href="#" >Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgview').attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}